.App-header {
  background-color: #1A2027;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: greenyellow;
}

a:visited {
  color: greenyellow;
}


.selected-row {
  box-shadow: 0 0 5px 0 #CA1F3D;
  -webkit-box-shadow: 0 0 5px 0 #CA1F3D;
}

.selected-row-i {
  box-shadow: 0 0 5px 0 #F2B843;
  -webkit-box-shadow: 0 0 5px 0 #F2B843;
}

.available-row {
  transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 0.8px 0 whitesmoke;
  }

.available-row:hover {
    background-color: 1e1e1e;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px 0 #ffffff;
  }
  
  .available-row:hover * {
  
    transition: color 0.3s ease;
  }

  .unavailable-row {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 0.8px 0 whitesmoke;
  }

.unavailable-row:hover {
    background-color: 1e1e1e;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px 0 #ffffff;
  }
  
  .unavailable-row:hover * {
    
    transition: color 0.3s ease;
  }
  
  .dot {
    display: none;
  }

  @media (min-width: 550px) {
    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #F2B843;
      box-shadow: 0 0 5px 2px #F2B843;
      animation: blink 2s ease-in-out infinite;
    }
  }
  
  
  @keyframes blink {
    0% {
      opacity: 100;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  

  
  
  
  
  
  

  
  